@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .button {
    @apply px-4 py-2 bg-[#f3e8e6] border border-[#fff] rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-[#F2F3F5] transition transform duration-100 ease-out
  }

  .button-white {
    @apply px-4 py-2 bg-[#F2F3F5] border border-[#fff] rounded-full cursor-pointer hover:shadow-lg hover:scale-105 active:scale-95 active:bg-[#f3e8e6] transition transform duration-100 ease-out
  }
}
