@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* #soins-feminins {
  background-image: url(../app/assets/bg1.png);

} */
/*  #gallery, #formules, */
/* #soins-rebozo, #tarifs, #soins-bebe {
  background-image: url(../app/assets/bg1-rotate.png);

} */
/* #soins-all {
  background-image: url(../app/assets/bg1.png);
} */

.comfortaa-text {
  /* font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-feature-settings: "liga" on;
  font-variant-ligatures: common-ligatures;
  text-transform: none !important;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: normal; */
  text-align: start;
  transition-property: opacity, transform;
  font-family: "Playwrite CU", cursive;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-optical-sizing: auto;
  line-height: initial;
  opacity: 1;
  transition-duration: 350ms;
}

.beige-cloud-bg {
  background-image: url(../app/assets/beige_cloud.png);
  background-repeat: no-repeat;  /* Prevent the image from repeating */
  background-position: 35% center; /* Center both horizontally and vertically */
  background-size: 220%; /* Or 'contain' or 'cover' depending on the desired effect */
}

 .apropos-mobile {
  background-image: url(../app/assets/bebe-charlotte.jpg);
 }
 .apropos-desktop {
  background-image: url(../app/assets/bebe-charlotte-desktop.jpg);
 }

 .bainbebe-desktop {
  background-image: url(../app/assets/banniere-bain-bebe-paysage2.jpg);
 }

 .retrouve-desktop {
  background-image: url(../app/assets/retrouve4-bandeau.jpg);
  /* background-image: url(../app/assets/retrouve4.jpeg); */
 }

 .bg-douceur-rebozo {
  background-image: url(../app/assets/douceur-rebozo-long.jpg);
 }
 .bg-rituel-rebozo {
  background-image: url(../app/assets/rebozo-serrage3-long.jpg);
 }

 .bg-massage-femme-enceinte {
  background-image: url(../app/assets/massage-ventre-zoom.jpg);
}
 .bg-massage-postnatal {
  background-image: url(../app/assets/massage-dos6-long.jpg);
 }
 .bg-massage-deesse {
  background-image: url(../app/assets/massage-deesse-long.jpg);
 }

 .bg-bain-sensoriel {
  background-image: url(../app/assets/bain-sensoriel2-long.jpg);
 }
 .bg-massage-bebe {
  background-image: url(../app/assets/massage-bebe1-long.jpg);
 }
 .bg-soulager-maux {
  background-image: url(../app/assets/massage-bebe7-long.jpg);
 }
 .bg-massage-yoga-bambin {
  /* background-image: url(../app/assets/massage-bebe4-long.jpg); */
  background-image: url(../app/assets/massage-yoga-bambin.jpeg);
 }

 .bg-formule-enchantee {
  background-image: url(../app/assets/massage-dos2.jpg);
 }
 .bg-formule-deesse {
  background-image: url(../app/assets/formule-amour-toujours2.jpg);
 }
 .bg-formule-bebe {
  background-image: url(../app/assets/massage-bebe12.jpg);
 }
 .bg-formule-infini {
  background-image: url(../app/assets/bain-sensoriel-lolita.jpg);
 }

@layer components {
  .button {
    @apply px-4 py-2 bg-[#f3e8e6] border border-[#fff] rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-[#F2F3F5] transition transform duration-100 ease-out
  }

  .button-white {
    @apply px-4 py-2 bg-[#F2F3F5] border border-[#fff] rounded-full cursor-pointer hover:shadow-lg hover:scale-105 active:scale-95 active:bg-[#f3e8e6] transition transform duration-100 ease-out
  }
}
